-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

%p
  = markdownify(post.message, :youtube_maps => post[:youtube_titles])

- if photos.count > 0
  .photo_attachments
    -############# by star ###############
    -#- for photo in photos
    -#  = link_to (image_tag photo.url(:thumb_medium)), photo_path(photo)
    - for photo in photos
      - if photo.type == "image"
        = link_to (image_tag photo.url(:thumb_medium)), photo_path(photo)
      - else
        = link_to photo.title, photo.document.url
    -############### end ####################

